@font-face {
    font-family: 'distant_galaxy';
    src: url('./DISTGRG_-webfont.woff') format('woff');         
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'distant_galaxy';
}